
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5">
<!--     <mdb-navbar-brand>
        <a class="navbar-brand" href="home">
             <img src="assets/operador-nacional-de-sistema-eletrico.png" alt="" width="130" height="40" sizes="" srcset="">
          ONS
          </a>
    </mdb-navbar-brand> -->
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link comandBarButtons btnInside waves-light" mdbWavesEffect>
            <i class="fas fa-plus "></i>
            <span>Adicionar</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link comandBarButtons btnInside waves-light" mdbWavesEffect>
              <i class="fas fa-edit "></i>
              <span>Editar</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link comandBarButtons btnInside waves-light" mdbWavesEffect>
              <i class="fas fa-trash "></i>
              <span>Excluir</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link comandBarButtons btnInside waves-light" mdbWavesEffect>
              <i class="fas fa-download "></i>
              <span>Exportar</span>
          </a>
      </li>
    </ul>
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form my-0">
            <i class="fas fa-search "></i>
          <input [(ngModel)]="Pesquisa" (ngModelChange)="eventPesquisa($event)" [ngModelOptions]="{standalone: true}"
            class="form-control mr-sm-2" type="text" placeholder="Pesquisa">
        </div>
      </form>
  </links>

</mdb-navbar>
