<p-panel styleClass="testPrimeNg">
  <p-header (click)="GotoHome()" style="cursor: pointer;">
<h4 >Usuarios</h4>
  </p-header>
  <ons-pesquisa-usuarios></ons-pesquisa-usuarios>
  <ons-comandbar-usuarios></ons-comandbar-usuarios>
  <ons-grid-usuarios></ons-grid-usuarios>
</p-panel>
