<div class="logoX" mdbWavesEffect>


  <div class="bodyHolder">
    <div class="imageHolder">
      <img src="assets/operador-nacional-de-sistema-eletrico.png" alt="" width="400" height="180" sizes="" srcset="">
      <img src="assets/operador-nacional-de-sistema-eletrico.png" alt="" width="400" height="180" sizes="" srcset="">
      <img src="assets/operador-nacional-de-sistema-eletrico.png" alt="" width="400" height="180" sizes="" srcset="">
      <img src="assets/operador-nacional-de-sistema-eletrico.png" alt="" width="400" height="180" sizes="" srcset="">
    </div>
  </div>

  <div>
    <button type="button" (click)="GotoPessoas()" mdbBtn color="secondary" mdbWavesEffect>Pessoas</button>
    <button type="button" (click)="GotoUsuarios()" mdbBtn color="success" mdbWavesEffect>Usuario</button>
  </div>
</div>
