.logoX{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bodyHolder {
  margin: 0;
  padding: 0;
  width: 100%;
  //height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageHolder {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 150px;
  background: #00000000;
  transform: rotate(-30deg) skew(25deg) scale(.8);
  transition: 0.5s;

}

.imageHolder img {
  position: absolute;
  width: 100%;
  transition: 0.5s
}

.imageHolder:hover img:nth-child(4) {
  transform: translate(160px, -160px);
  opacity: 1;
}

.imageHolder:hover img:nth-child(3) {
  transform: translate(120px, -120px);
  opacity: .8;
}

.imageHolder:hover img:nth-child(2) {
  transform: translate(80px, -80px);
  opacity: .6;
}

.imageHolder:hover img:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: .4;
}
