.img1{
   background-image:  url(./operador-nacional-de-sistema-eletrico.png);
}

.img2{
    background-image:  url(./operador-nacional-de-sistema-eletrico.svg);
 }

 .img3{
    background-image:  url(./operador-nacional-de-sistema-eletricoAntigo.png);
 }