@import "./colorsTheme";

.onsBtnBase {
  border-radius: 3px;
  font-size: 14px;
  width: 14vw;
  transition: background-color 0.2s,
    box-shadow 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none !important;
  cursor: pointer;
  margin: 1px 0.5vw;
  zoom: 1;
  overflow: visible;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);

  span {
    margin-left: 1vw;
  }

  &:enabled:focus {
    outline: 0 none;
    outline-offset: 0px;
  }
}

.primary {
  color: $ons-font_color-primary;
  background-color: $ons-background_color-primary;
  border: $ons-border-primary;

  &:enabled:hover {
    color: $ons-font_color-primaryHover;
    background-color: $ons-background_color-primaryHover;
    border: $ons-border-primaryHover;
  }

  &:enabled:active {
    color: $ons-font_color-primaryActive;
    background-color: $ons-background_color-primaryActive;
    border: $ons-border-primaryActive;
  }

  &:enabled:focus {
    box-shadow: $ons-box_shadow-primaryfocus;
  }
}

.danger {
  color: $ons-font_color-danger;
  background-color: $ons-background_color-danger;
  border: $ons-border-danger;

  &:enabled:hover {
    color: $ons-font_color-dangerHover;
    background-color: $ons-background_color-dangerHover;
    border: $ons-border-dangerHover;
  }

  &:enabled:active {
    color: $ons-font_color-dangerActive;
    background-color: $ons-background_color-dangerActive;
    border: $ons-border-dangerActive;
  }

  &:enabled:focus {
    box-shadow: $ons-box_shadow-dangerfocus
  }

}

/* .container{
  padding: 0;
} */

.comandBarButtons{
    font-weight: 400;
    color: #007bff !important;

    &:hover{
      background: #EF882A !important;
    }
    &:active{
      background: #EF882A !important;
    }
  };
  .btnInside{
   display: flex !important;
   align-items: center;
  }




