
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5">
<!--     <mdb-navbar-brand>
        <a class="navbar-brand" href="home">
             <img src="assets/operador-nacional-de-sistema-eletrico.png" alt="" width="130" height="40" sizes="" srcset="">
          ONS
          </a>
    </mdb-navbar-brand> -->
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link comandBarButtons btnInside waves-light" (click)="showModal('add')" mdbWavesEffect>
            <i class="fas fa-plus "></i>
            <span>Adicionar</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link comandBarButtons btnInside waves-light" (click)="showModal('edit')"   mdbWavesEffect>
              <i class="fas fa-edit "></i>
              <span>Editar</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link comandBarButtons btnInside waves-light" (click)="showModal('delete')" mdbWavesEffect>
              <i class="fas fa-trash "></i>
              <span>Excluir</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link comandBarButtons btnInside waves-light" mdbWavesEffect>
              <i class="fas fa-download "></i>
              <span>Exportar</span>
          </a>
      </li>
    </ul>
    <form class="form-inline waves-light" mdbWavesEffect>
        <!-- <div class="md-form my-0">
            <i class="fas fa-search "></i>
          <input id="pesquisaObj" [(ngModel)]="Pesquisa" (ngModelChange)="eventPesquisa($event)" [ngModelOptions]="{standalone: true}"
            class="form-control mr-sm-2" type="text" placeholder="Pesquisa">
        </div> -->
        <div>
          <span>{{ count }} Registros Encontrados</span>
        </div>
      </form>
  </links>
  

</mdb-navbar>
<!--/.Navbar-->
<div mdbModal #add="mdbModal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Adicionar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal('add')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form [formGroup]="perfusuForm"  (ngSubmit)="addPerf()">
            <div class="modal-body">
                    <div class="form-group">
                        <label for="PerfilId">Perfil Chave</label>
                        <input type="text" class="form-control" id="PerfilId" formControlName="PerfilId" required>
                    </div>
                    <div class="form-group">
                        <label for="Usuar">Usuar Chave</label>
                        <input type="text" class="form-control" id="Usuar" formControlName="Usuar" required>
                    </div>
                    <div class="form-group">
                        <label for="UsuarId">Usuar Id</label>
                        <input type="text" class="form-control" id="UsuarId" formControlName="UsuarId" required>
                    </div>
                    <div class="form-group">
                        <label for="AgeId">Age Id</label>
                        <input type="text" class="form-control" id="AgeId" formControlName="AgeId"  >
                    </div>
                    <div class="form-group">
                        <label for="CosId">Cos Id</label>
                        <input type="text" class="form-control" id="CosId" formControlName="CosId" >
                    </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm waves-light" data-dismiss="modal" (click)="hideModal('add')" mdbWavesEffect>Close</button>
                <button type="submit" class="btn btn-primary btn-sm waves-light" mdbWavesEffect>Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div mdbModal #edit="mdbModal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Editar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal('edit')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form [formGroup]="perfusuFormEdit"  (ngSubmit)="editPerf()">
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="PerfilId">Perfil Chave</label>
                                <input type="text" class="form-control" id="PerfilId" formControlName="PerfilId" required>
                            </div>
                            <div class="form-group">
                                <label for="Usuar">Usuar Chave</label>
                                <input type="text" class="form-control" id="Usuar" formControlName="Usuar" required>
                            </div>
                            <div class="form-group">
                                <label for="UsuarId">Usuar Id</label>
                                <input type="text" class="form-control" id="UsuarId" formControlName="UsuarId" required>
                            </div>
                            <div class="form-group">
                                <label for="AgeId">Age Id</label>
                                <input type="text" class="form-control" id="AgeId" formControlName="AgeId"  >
                            </div>
                            <div class="form-group">
                                <label for="CosId">Cos Id</label>
                                <input type="text" class="form-control" id="CosId" formControlName="CosId" >
                            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm waves-light" data-dismiss="modal" (click)="hideModal('edit')" mdbWavesEffect>Close</button>
                <button type="button" class="btn btn-primary btn-sm waves-light" type="submit" mdbWavesEffect>Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div mdbModal #delete="mdbModal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Excluir</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal('delete')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="main">
                        <div class="main-center">
                        <h5>Deseja realmente excluir esse(s) registro(s)?</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm waves-light" data-dismiss="modal" (click)="hideModal('delete')" mdbWavesEffect>Cancelar</button>
                <button type="button" class="btn btn-primary btn-sm waves-light" (click)="deletePerf()" mdbWavesEffect>Sim</button>
            </div>
        </div>
    </div>
</div>


<div mdbModal #alert="mdbModal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Atenção</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal('alert')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="main">
                        <div class="main-center">
                        <h5>{{ alertMSG }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm waves-light" (click)="hideModal('alert')" mdbWavesEffect>Ok</button>
            </div>
        </div>
    </div>
</div>