<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark light-green">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      <img src="assets/operador-nacional-de-sistema-eletrico.png" alt="" width="130" height="40" sizes="" srcset="">
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" mdbWavesEffect>
        <button class="onsBtnBase primary">
          <i class="fas fa-plus fa-2x"></i>
          <span>Adicionar</span>
        </button>
      </li>
      <li class="nav-item" mdbWavesEffect>
        <button class="onsBtnBase primary">
          <i class="fas fa-edit fa-2x"></i>
          <span>Editar</span>
        </button>
      </li>
      <li class="nav-item" mdbWavesEffect>
        <button class="onsBtnBase danger">
          <i class="fas fa-trash fa-2x"></i>
          <span>Excluir</span>
        </button>
      </li>
      <li class="nav-item" mdbWavesEffect>
        <button class="onsBtnBase primary">
          <i class="fas fa-download fa-2x"></i>
          <span>Exportar</span>
        </button>
      </li>
    </ul>
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input [(ngModel)]="Pesquisa" (ngModelChange)="eventPesquisa($event)" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2" type="text"
          placeholder="Pesquisa">
      </div>
    </form>
  </links>
</mdb-navbar>
