/* ::ng-deep {
  .ui-panel {
    .ui-panel-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

 */

::ng-deep .testPrimeNg {
    padding: 0.5em !important;

}


::ng-deep .ui-panel .ui-panel-titlebar {
  border-width: 0 0 1px 0 !important;
  border-top: 4px solid #5889D7 !important;
}
