<p-panel styleClass="testPrimeNg">
  <p-header (click)="GotoHome()" style="cursor: pointer;">
    <h4>Pessoas</h4>
  </p-header>
  <ons-pesquisa-pessoas></ons-pesquisa-pessoas>
  <ons-comandbar-pessoas></ons-comandbar-pessoas>
  <ons-grid-pessoas></ons-grid-pessoas>
</p-panel>
