/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";
@import "scss/onsBtns";
@import "scss/pesquisa";

nav {
  .container {
    max-width: 100%;
  }
}


