/* You can add global styles to this file, and also import other style files */
@import "assets/ag-grid.css";
@import "assets/ag-theme-balham.css";
@import "assets/ag-theme-blue.css";
@import "scss/onsBtns";
@import "scss/pesquisa";


nav {
  .container {
    max-width: 100%;
  }
}

.modal-dialog{
  width: 100% !important;
}


