// COR PRIMARIA

//COR PRIMARIA NORMAL
$ons-font_color-primary:#ffffff;
$ons-background_color-primary:#007ad9;
$ons-border-primary:1px solid #007ad9;
// COR PRIMARIA COM HOVER
$ons-font_color-primaryHover:#ffffff;
$ons-background_color-primaryHover:#116fbf;
$ons-border-primaryHover:1px solid #116fbf;
// COR PRIMARIA COM ACTIVE
$ons-font_color-primaryActive:#ffffff;
$ons-background_color-primaryActive:#005b9f;
$ons-border-primaryActive:1px solid #005b9f;
// COR PRIMARIA COM FOCUS
$ons-box_shadow-primaryfocus:0 0 0 0.2em #8dcdff;
// COR DANGER

// COR DANGER NORMAL
$ons-font_color-danger: #ffffff;
$ons-background_color-danger: #e91224;
$ons-border-danger: 1px solid #e91224;
// COR PRIMARIA COM HOVER
$ons-font_color-dangerHover:#ffffff;
$ons-background_color-dangerHover:#c01120;
$ons-border-dangerHover:1px solid #c01120;
// COR PRIMARIA COM ACTIVE
$ons-font_color-dangerActive:#ffffff;
$ons-background_color-dangerActive:#a90000;
$ons-border-dangerActive:1px solid #a90000;
// COR PRIMARIA COM FOCUS
$ons-box_shadow-dangerfocus:0 0 0 0.2em #f9b4ba;
