<p-panel>
  <p-header>
    <span class="label-pesquisar" >PESQUISAR:</span>
  </p-header>
  <div class="customPad">
  <div style="margin-bottom: 1em;">
    <div class="ui-fluid {{animateStringSimples}}" style="height:3em;">
      <input id="input" (keydown.enter)="pesquisar($event.target)" class="test form-control" type="text" placeholder="Pesquisar..."
        pInputText [(ngModel)]="inputPesquisa1" style="margin-bottom: 0.3em;">
      <div class="p-grid">
        <div class="p-col">
          <input id="input2" (keydown.enter)="pesquisar($event.target)" class="test form-control" type="text" placeholder="Lorem ipsum..."
            pInputText [(ngModel)]="inputPesquisa2">
        </div>
        <div class="p-col">
          <input id="input3" (keydown.enter)="pesquisar($event.target)" class="test form-control" type="text" placeholder="Lorem ipsum..."
            pInputText [(ngModel)]="inputPesquisa3">
        </div>
      </div>
    </div>
    <div class="ui-fluid div-pesquisa-avancada {{animateStringAvancada}}" style="height: 2em;">
      <input id="input-2" type="text" placeholder="Avançado..." pInputText class="form-control" [(ngModel)]="inputPesquisaAvancada">

    </div>
  </div>
  <p-button styleClass="pesquisa-avancada" label="{{btnPesquisaLabel}}" (click)="pesquisaAvancada()"></p-button>
</div>
</p-panel>

